<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <%= link_to '新增年级', new_grade_path, class: 'list-group-item' %>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-default">
              <thead>
                <tr>
                  <td>ID</td>
                  <td>名称</td>
                  <td>修改</td>
                  <td>删除</td>
                </tr>
              </thead>
              <tbody>
                <% @grades.each do |grade| %>
                <tr>
                  <td><%= grade.id %></td>
                  <td><%= grade.name %></td>
                  <td><%= link_to '修改', edit_grade_path(grade) %></td>
                  <td><%= link_to '删除', grade_path(grade), method: :delete, data:{confirm: '你确定要删除吗？'} %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>