<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= form_for @user_product, :html => {:class => 'form-horizontal'} do |f| %>
              <%= f.fields_for :product, @user_product.product do |i| %>
                <div class="form-group">
                <%= i.label '标题', class: 'col-md-2 control-label' %>
                <div class="col-md-8">
                  <%= i.text_field :title, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= i.label '类别', class: 'col-md-2 control-label'%>
                <div class="col-md-8">
                  <%= select_tag :category, options_from_collection_for_select(@categories, 'id','name', @user_product.product.category_id), :class => 'form-control' %>  
                </div>                  
              </div>

              <div class="form-group">
                <%= i.label '价格', class: 'col-md-2 control-label' %>
                <div class="col-md-8">
                  <%= i.text_field :price, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <%= i.label '描述', class: 'col-md-2 control-label' %>
                <div class="col-md-8">
                  <%= i.text_area :description, class: 'form-control', rows: 5 %>
                </div>
              </div>

              <div class="form-group">
                 <div class="col-md-offset-2 col-md-8">
                  <%= i.submit '提交', class: 'btn btn-danger btn-block'%>
                 </div>
               </div>    
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>