<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <%= link_to '商品出售', new_product_path, class: 'list-group-item' %>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-default">
              <thead>
                <tr class="table_text">
                  <td>ID</td>
                  <td class="td_width_15_percent">标题</td>
                  <td>价格</td>
                  <td class="td_width_15_percent">所属类别</td>
                  <td>描述</td>
                  <td class="td_width_10_percent">修改</td>
                  <td>删除</td>
                </tr>
              </thead>
              <tbody>
                <% @user_products.each do |user_product| %>
                <tr>
                  <td><%= user_product.id %></td>
                  <td><%= link_to user_product.product.title, show_path(user_product.product.id) %></td>
                  <td class="table_text">￥<%= user_product.product.price %></td>
                  <td class="table_text"><%= user_product.product.category.name %></td>
                  <td class="table_text"><%= user_product.product.description %></td>
                  <td class="table_text"><%= link_to '修改', edit_user_product_path(user_product) %></td>
                  <td class="table_text"><%= link_to '删除', user_product_path(user_product), method: :delete, data:{confirm: '你确定删除吗？'}, class: 'btn btn-danger' %>
                  </td>
                </tr>  
                <% end %>
              </tbody>
            </table>
            <div class="table_paginate">
              <%= paginate @user_products%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>