<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-default">
              <thead>
                <tr>
                  <td>标题</td>
                  <td>标题</td>
                  <td>价格</td>
                  <td>所属类别</td>
                  <td>操作</td>
                </tr>
              </thead>
              <tbody>
                <% @favorites.each do |favorite| %>
                <tr>
                  <td><%= image_tag favorite.product.avatar.url, class: 'favorite_image' %></td>
                  <td><%= favorite.product.title %></td>
                  <td><%= favorite.product.price %></td>
                  <td><%= favorite.product.category.name %></td>
                  <td><%= link_to '取消收藏', favorite_path(favorite), method: :delete, data:{confirm: '你确定要取消收藏这件商品吗?'} %></td>
                </tr>
                <% end %> 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>