<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <%= link_to '新增管理员', new_user_path, class: 'list-group-item' %>
        </div>
      </div>   
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table table-default">
              <thead>
                <tr>
                  <td>ID</td>
                  <td>email</td>
                  <td>身份</td>
                  <td>封禁</td>
                  <td>删除</td>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user|%>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.email %></td>
                  <td>
                  <% user.roles.each do |role| %>
                    <%= convert_to_chinese(role.name) %>
                  <% end %>
                  </td>
                  <td><%= link_to (user.status ? '封禁': '解封'),setstatus_path(user) %></td>
                  <td><%= link_to '删除', user_path(user), method: :delete,data:{confirm: '你确定删除吗？'} %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <div class="table-paginate">
              <%= paginate @users %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>