<div class="main">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= form_for @user, html: {class: 'form-horizontal'}, :url => {:action => :register_center}   do |f| %>
              <div class="form-group">
                <div class="col-md-8">
                  <%= f.text_field :email,placeholder: '请输入邮箱', class: 'form-control' %>
                </div>
                <% if @user.errors[:email].any? %>
                <div class="col-md-4">
                   <span class="glyphicon glyphicon-exclamation-sign errors" aria-hidden="true"></span><%= label_tag '', @user.errors[:email][0], class: 'control-label errors' %>
                </div>
                <% end %>
              </div>
              <div class="form-group">
              <div class="col-md-8">
                <%= f.password_field :password,placeholder: '请输入密码', class: 'form-control' %>
              </div>
                 <% if @user.errors[:password].any? %>
                 <div class="col-md-4">
                  <span class="glyphicon glyphicon-exclamation-sign errors" aria-hidden="true"></span><%= label_tag '', @user.errors[:password][0], class: 'control-label errors' %>
                 </div>
                <% end %>
              </div>
              <div class="form-group">
              <div class="col-md-8">
                <%= f.password_field :password_confirmation,placeholder: '请再次输入密码', class: 'form-control' %>
              </div>
              <% if @user.errors[:password_confirmation].any? %>
               <div class="col-md-4">
                <span class="glyphicon glyphicon-exclamation-sign errors" aria-hidden="true"></span><%= label_tag '', @user.errors[:password_confirmation][0], class: 'control-label errors' %>
               </div>
              <% end %>
              </div>
              <div class="form-group">
                <div class="col-md-8">
                  <%= f.submit '注册', class: 'btn btn-danger btn-block' %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>