<% content_for :title do %>验证邮箱<% end %> 
<div class="main">
  <div class="container">
	<div class="rows">
	  <%= render 'shared/user' %>	
	  <div class="col-md-10">
	    <div class="panel panel-default">
		  <div class="panel-body">
		    <%= form_for @user, :url => {:action => :sendverifyemail}, :html => {:class => 'form-horizontal'} do |f| %>
		      <div class="form-group">
		        <%= f.label '您的绑定邮箱为：' ,class: 'control-label col-md-2' %>
		        <div class="col-md-6">
                  <%= f.text_field :email, disabled: true, class: 'form-control' %>
		        </div>
		        <% unless @user.email_status %>
		        <div class="col-md-3">
		          <span class="glyphicon glyphicon-remove errors" aria-hidden="true"></span>
		          <%= label_tag '','邮箱未验证', class: 'control-label errors' %>
		        </div>
		        <% else %>
		          <span class="glyphicon glyphicon-ok errors" aria-hidden="true"></span>
		          <%= label_tag '','邮箱已验证', class: 'control-label errors' %>
			    <% end %>
              </div>

		      <div class="form-group">
		        <div class="col-md-offset-2 col-md-6">
		          <% unless @user.email_status %>
		          <%= f.submit '发送验证邮箱', class: 'btn btn-danger btn-block' %>
		          <% else %>
		          <%= f.submit '发送验证邮箱', disabled: true, class: 'btn btn-danger btn-block' %>
		          <% end %>
		        </div>
              </div>
		    <% end %>
		  </div>
	    </div>
	  </div>  
	</div>
  </div>
</div>