<div class="main">
  <div class="container">
	<div class="row">
	  <div class="col-md-9">
		<div class="panel panel-default">
		  <div class="panel-heading">
		  	<h3>求购专区</h3>
		  </div>
		  <div class="panel-body">
		    <% @information_users.each do |information_user| %>
		    <div class="panel">
		      <div class="panel-body">
		      	<table class="table">
		      	<tr>
		      	    <td colspan="2"><h4><%= information_user.information.title %></h4></td>
		      	</tr>
		      	  <tr>
		      	  	<td>买家</td>
		      	  	<td><%= information_user.user.username %></td>
		      	  </tr>
		      	  <tr>
		      	  	<td>专业</td>
		      	  	<td><%= information_user.user.grade.name %><%= information_user.user.major.name %></td>
		      	  </tr>
		      	  <tr>
		      	  	<td>手机</td>
		      	  	<td><%= information_user.user.phone %></td>
		      	  </tr>

		      	  <tr>
		      	  	<td>邮箱</td>
		      	  	<td><%= information_user.user.email %></td>
		      	  </tr>

		      	   <tr>
                    <td>价格</td>
                    <td>￥<%= information_user.information.price  %></td>
                  </tr>

	              <tr>
	                <td>描述</td>
	                <td><%= information_user.information.description  %></td>
	              </tr>   		
		      	</table>
		      </div>	
		    </div>
		    <% end %>
		    <div class="pull-right">
		      <%= paginate @information_users %>
		    </div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>