<% content_for :title do %>首页<% end %>  
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
          <div class="list-group">
            <% @categories.each do |catagory| %>
              <%= link_to catagory.name, {:condition => catagory.id}, class: 'list-group-item' %>
            <% end %>
          </div>
      </div>
      
      <div class="col-md-10">
      <% @products.each do |product| %>
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-body">
                <%= link_to show_path(product), class: 'thumbnail' do %>
                   <% unless product.avatar.url %>
                     <%= image_tag 'zwtp.jpg', class: 'product_image_index'  %>
                   <% else %>
                    <%= image_tag product.avatar.url(:big), class: 'product_image_index' %>
                   <% end %>
                <% end %>
              <div class="product_title">
                <% if product.title.length > 12 %>
                   <%= product.title[0..10]+'...' %>
                <% else %>
                   <%= product.title %>
                <% end %>
              </div>
              <div class="product_price">
              ￥<%= product.price %>
              <%= link_to '立即购买', show_path(product), class: 'btn btn-sm btn-danger pull-right' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
     
    </div>
     <div class="row">
        <div class="col-md-offset-2">
          <div class="paginate_products">
            <%= paginate @products %>
          </div>    
        </div>
      </div>
  </div>
</div>