<% content_for :title do %>商品<% end %>  
<div class="main">
  <div class="container">
	<div class="row">
	  <div class="col-md-offset-2 col-md-3">
	    <% unless @product.avatar.url %>
	      <%= image_tag 'zwtp.jpg', class: 'show_product_image'  %>
	    <% else %>
		  <%= image_tag @product.avatar.url(:big), class: 'show_product_image' %>
	    <% end %>
	  </div>
			
	  <div class="col-md-6">
	    <div>
	      <h3><%= @product.title %></h3>	
	    </div>
	    <div>
	    <table class="table">
	      <tr>
	      	<td>卖家:</td>
	      	<td><%= @product.users[0].username%></td>
	      </tr>
	      <tr>
	      	<td>专业:</td>
	      	<td><%= @product.users[0].grade.name %><%= @product.users[0].major.name %></td>
	      </tr>
	      <tr>
	      	<td>手机:</td>
	      	<td><%= @product.users[0].phone %></td>
	      </tr>
	      <tr>
	      	<td>邮箱:</td>
	      	<td><%= @product.users[0].email %>&nbsp &nbsp &nbsp
              <% if @product.users[0].email_status %> 
                <span class="glyphicon glyphicon-ok errors" aria-hidden="true">邮箱已验证</span>
              <% else %>
                <span class="glyphicon glyphicon-remove errors" aria-hidden="true">邮箱未验证</span>
              <% end %>
	      	</td>
	      </tr>
	       <tr>
	      	<td>价格</td>
	      	<td>￥<%= @product.price %></td>
	      </tr>
	      <tr>
	      	<td>商品介绍</td>
	      	<td><%= @product.description %></td>
	      </tr>
	    </table>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-offset-2 col-md-9">
	    <div class="panel panel-default product-comment">
	      <div class="panel-body">
	      	<div id="SOHUCS" sid= "<%= @product.id %>"></div>
			  <script>
			  (function(){
			    var appid = 'cyrGl2I4O',
			    conf = 'prod_76dcdc4e5f778b841e78a35b938c555c';
			    var doc = document,
			    s = doc.createElement('script'),
			    h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
			    s.type = 'text/javascript';
			    s.charset = 'utf-8';
			    s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
			    h.insertBefore(s,h.firstChild);
			  })()
			</script>
	      </div>	
	    </div>
	  </div>	
	</div>
  </div>
</div>